
* {
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration:none;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

/******************************************/
/*                                        */
/*            navigation bar              */
/*                                        */
/******************************************/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width:100%;
    height: 70px;
    margin-top:2vh;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: 9;
}

.navbar .logo{
    background-image:url("../images/test/white-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:50px;
    height: 50px;

}

.navbar .navbar-menu{
    margin-left: 15vw;
}

.navbar .navbar-menu li{
    display : inline-block;
    padding: 10px;
}

.navbar .navbar-menu a{
    color: white;
    font-weight: 900;
    font-size: 0.8rem;
}

.navbar .navbar-menu a:hover{
    color: red;
}


/* sticky-menu (start) */
.navbar-sticky{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width:100%;
    height: 60px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: 9;
}

.navbar-sticky .logo{
    background-image:url("../images/test/black-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:50px;
    height: 50px;

}

.navbar-sticky .navbar-menu{
    margin-left: 15vw;
}

.navbar-sticky .navbar-menu li{
    display : inline-block;
    padding: 10px;
}

.navbar-sticky .navbar-menu a{
    color: black;
    font-weight: 900;
    font-size: 0.8rem;
}

.navbar-sticky .navbar-menu a:hover{
    color: crimson;
    font-size: 1rem;
}
/* sticky-menu (end) */


/******************************************/
/*                                        */
/*                  home                  */
/*                                        */
/******************************************/
.home{
    background-color: black;
}

.home .intro-bg{
    background-image: url("../images/test/laptop2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
    opacity: 0.3;
    position:relative;
}

.home .intro-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}


.home .welcome-text{
    color:aliceblue;
    margin: 15vh 0;
    font-size: 4vh;
}

.home .welcome-text::after{
    content: "Welcome to iLab";
    animation-name: textanim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.home .welcome-text::after{
    animation-name: textanim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}


@keyframes textanim{
    25% {
        content: "Internet & Security Lab";
    }
    50% {
        content: "iLab에 오신 것을 환영합니다";
    }
    75%{
        content: "인터넷&보안 연구실";
    }
}

.home .intro-btn .show-detail-button{
    background-color: transparent;
    margin: 0px 1vw;
    padding: 10px;
    border-style: solid;
    border-width:3px;
    border-radius: 2rem;
    border-color: aquamarine;
    color:aquamarine;
}

.home .intro-btn .show-detail-button:hover{
    background-color: aquamarine;
    border-color: aquamarine;
    color:black;
    font-weight: bold;
}

.home .intro-btn .clicked-intro-btn{
    background-color: aquamarine;
    margin: 0px 1vw;
    padding: 10px;
    border-style: solid;
    border-width:3px;
    border-radius: 2rem;
    border-color: aquamarine;
    color:black;
    font-weight: bold;
}


.home .event-content{

    width: 80vw;
    height: 22vh;
    margin-top:5vh;

    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}


.home .summary-detail{
    display:none;
    line-height: 1.8;
    text-align: justify;
    color:cornsilk;
    font-variant: small-caps;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}


.home .current-research-detail{
    display:none;
}

.home .current-research-detail .tech-list-intro{
    
}

.home .current-research-detail .tech-list-intro > div{
    display:block;
    float: left;
    padding:30px;
    
    /* test-show */background-color: darkgreen;
}

.home .location-detail{
    display:none;
    
}