* {
    box-sizing: border-box;
}

.navbar{
    background-color: #0C404A;
    width : 100%;
}

.navbar .logo{
    width : 60px;
    height : 45px;
}

.navbar .navbar-menu{
    float : right;
    margin : 0px;
    padding : 0px;
}

.navbar .navbar-menu a{
    text-decoration: none;
    color : #02C9E3;
    padding : 30px;
    text-align: center;
}

.home{

}

.home .welcome-text{

}

.home .summary{

}

.home .current-research{

}

.home .location{

}